

@font-face {
  font-family: 'font1';
  src: url('/fonts/font1.woff2') format('woff2');

  
      }
      
@font-face {
  font-family: 'font2';
  src: url('/fonts/font2.woff2') format('woff2');

  
      }

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */
